html {
    font-size: 14px;
}

p {
    color: pink;
}

.test-em {
    margin: 1em;
    font-size: 14px;
}

.test-rem {
    margin: 1rem;
}

.test-vm {
    width: 10vw;
}

.test-vmin {
    width: 10vmin;
}