#忽略 module文件夹下的包
.DS_Store
module/node_modules
leetcode.code-workspace
vue/vue-dev
vue/vue-router-dev
**/node_modules
**/package-lock.json
**/yarn.lock
.vscode/
webpack/splitchunks/src/lodash
webpack/splitchunks/src/underscore