<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .container {
      background: url("bkgrd.jpg") repeat;
      margin: 0 auto;
      height: 960px;
    }
    .left {
      width: 33%;
      float: left;
      height: 200px;
      background-color: lightpink;
    }
    .center {
      width: 34%;
      float: left;
      height: 100px;
      background-color: lightgray;
    }
    .right {
      width: 33%;
      float: left;
      height: 200px;
      background-color: lightseagreen;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="left"></div>
    <div class="center"></div>
    <div class="right"></div>
  </div>
</body>
</html>