<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../dist/vue.js"></script>
</head>
<body>
  <div id="app">

  </div>
  <script>
    const example = {
      render (h) {
            console.log(this.$slots);
            return h('div', this.$slots.default)
      }
    }
    new Vue({
      el: '#app',
      components: {
        example
      },
      render (h) {
        return h('example', [
          'slots'
        ])
      }
    })
  </script>
</body>
</html>