* {
    margin: 0;
    padding: 0;
}

.father {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    /* 若主轴是横轴，交叉轴方向永远竖直向下
        若主轴是竖轴，交叉轴永远垂直向右 */
    flex-flow: row nowrap;
}

.father > div {
    flex: 0 2 500px;
    height: 300px;
    border: 1px solid gainsboro;
    background-color: silver;
}

